@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=M+PLUS+1:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    text-decoration: none !important;
    font-family: 'Potta One', cursive;
    overflow-x: hidden !important;
    background-color: #1D1D1E;
}

.OverflowX_hidden {
    overflow-x: hidden !important;
}

/*--------------------------------- ROOT-DEFINE-VALUES --------------------------------- */
:root {
    --color-light-gray: #bbbbbb;
    --color-light-white: #bfbfbf;
    --color-orange: #ff7d01;
    --font-xs: 16px;
    --font-sm: 18px;
    --font-base: 20px;
    --font-md: 24px;
    --font-2md: 36px;
    --font-lg: 40px;
    --font-xl: 48px;
    --font-2xl: 64px;
}

/*--------------------- DEFINE-ALL = ROOT-VALUE ------------------------------ */
.color_orange {
    color: var(--color-orange) !important;
}

.bg_orange {
    background-color: var(--color-orange) !important;
}

/*---------------------------- DEFINE-ALL = FONT-SIZES ---------------------------- */
.font-xs {
    font-size: var(--font-xs) !important;
}

.font-sm {
    font-size: var(--font-sm) !important;
}

.font-base {
    font-size: var(--font-base) !important;
}

.font-md {
    font-size: var(--font-md) !important;
}

.font-2md {
    font-size: var(--font-2md) !important;
}

.font-lg {
    font-size: var(--font-lg) !important;
}

.font-xl {
    font-size: var(--font-xl) !important;
}

.font-2xl {
    font-size: var(--font-2xl) !important;
}

/*---------------------------- DEFINE-ALL = FONT-WEIGHT ---------------------------- */
.fw_semibold {
    font-weight: 600 !important;
}

/*---------------------------- DEFINE-ALL = FONT-FAMILY---------------------------- */
.ff_m_plus {
    font-family: 'M PLUS 1', sans-serif;
}

.ff_black_han {
    font-family: 'Black Han Sans', sans-serif;
}

/*----------------- FONT SIZE-SET --------------------  */
@media (max-width:1599.98px) {
    :root {
        --font-xs: 16px;
        --font-sm: 18px;
        --font-base: 20px;
    }
}

@media (max-width:1199.98px) {
    :root {
        --font-xs: 16px;
        --font-sm: 18px;
        --font-base: 20px;
    }
}

@media (max-width: 991.98px) {
    :root {
        --font-xs: 16px;
        --font-sm: 18px;
        --font-base: 20px;
    }
}

@media (max-width: 767.98px) {
    :root {
        --font-xs: 16px;
        --font-sm: 18px;
        --font-base: 20px;
    }
}

@media (max-width: 575.98px) {
    :root {
        --font-xl: 40px;
    }
}

/* ------------------------------ COMMON CSS -------------------------- */
.overflow_hidden {
    overflow: hidden !important;
}

.opacity_08 {
    opacity: 0.8 !important;
}

.transition {
    transition: all 0.2s ease-in-out !important;
}

.hov_scale:hover {
    transform: scale(1.04) !important;
}

.index_m_1 {
    z-index: -1;
}

.index_1 {
    z-index: 1;
}

.index_5 {
    z-index: 5;
}

.lh_160 {
    line-height: 160%;
}

.cursor_pointer {
    cursor: pointer;
}

.nav_icons {
    transition: all 0.2s linear !important;
}

.nav_icons:hover {
    transform: scale(1.1);
}

.border_connect_btn {
    border: 1px solid white !important;
    padding: 6px;
    border-radius: 2px;
}

.border_connect_btn::after {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 38px;
    background-color: black;
    height: 5px;
    width: 30px;
    transition: all 0.2s linear !important;
}

.border_connect_btn:hover::after {
    width: 0 !important;
}

.connect_btn {
    line-height: 24px;
    padding: 5px 11px;
    border-radius: 2px;
    background-color: var(--color-orange) !important;
    display: inline-block;
    border: transparent;
}

/*  ------------------ BACK-TO-TOP-CSS ------------------ */
#scroll svg {
    height: 25px;
    width: 22px;
}

#scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 50;
    cursor: pointer;
    font-size: var(--font_lg);
    color: white;
    padding: 10px 12px;
    border-radius: 50% !important;
    background: linear-gradient(90.81deg, #CC66FF 4.81%, #B266FF 31.89%, #8D66FF 69.47%, #7066FF 99.41%);
    border: 1px solid var(--color-white);
    animation: moves 3s infinite;
    transition: all 0.3s ease-in-out !important;
}

@keyframes moves {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

#scroll:hover {
    box-shadow: 0px 0px 4px 4px #ffffff;
}

/* NAVBAR CSS */
.cross_btn {
    top: 42px;
    right: 15%;
}

nav {
    background-color: #080116;
}

.lg_nav_link {
    padding-right: 20px !important;
}

nav li a:hover {
    color: #ff7d01 !important;
}

nav li a::after {
    position: absolute;
    content: "";
    height: 2px;
    border-radius: 1px;
    width: 0;
    background-color: #ff7d01 !important;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2.5px;
    transition: all 0.3s linear;
}

nav li a:hover::after {
    width: 100%;
}

.line1,
.line2,
.line3 {
    content: "";
    height: 3px;
    width: 30px;
    background-color: #ffffff !important;
}

.nav_toggle_icon {
    cursor: pointer;
    width: 30px;
    height: 20px;
    right: 10px !important;
    z-index: 1;
}

.show_nav {
    top: 0% !important;
    left: 0% !important;
    opacity: 1 !important;
    z-index: 77 !important;
}

@media (max-width: 767.98px) {
    .overlay {
        position: absolute;
        background-color: #000000;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: 0.3s all linear !important;
        -o-transition: 0.3s all linear !important;
        transition: 0.3s all linear !important;
        z-index: 9999;
    }

    nav li a::after {
        background-image: linear-gradient(88.48deg, #CC66FF 14.1%, #B266FF 51.14%, #8D66FF 102.54%, #7066FF 143.5%);
    }
}

@media (max-width: 575.98px) {
    .cross_btn {
        top: 19px;
        right: 15px;
    }

    .nav_logo {
        max-width: 50px !important;
        max-height: 50px !important;
    }

    .connect_btn {
        padding: 6px 14px !important;
    }

    .page_logo {
        max-width: 40px;
    }
}


/* ---------- Goat Slide start ---------- */
.common_goat_slide_img {
    max-width: 203px;
}

.mt_53 {
    margin-top: 53px;
}

.mt_104 {
    margin-top: 104px;
}

/* ---------- MIn css start ---------- */
.min_bg {
    background-image: url("/assets/images/png/mint_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.min_box {
    padding: 39px 0 30px 0;
    max-width: 458px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 4px 16px 0px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(18.5px);
}

/* ---------- Team css start ---------- */
.team_card_heading {
    text-shadow: 2px 6px 7px rgba(0, 0, 0, 0.02);
}

.hover_scale:hover {
    transform: scale(1.05);
}

.team_care_parent {
    max-width: 294px;
}

.team_care_parent1 {
    border-radius: 0px 0px 0px 63.002px;
}

.team_care_parent3 {
    border-radius: 0px 0px 63.002px 0px;
}

/* ---------- Faq css start ---------- */
.faq_parent {
    max-width: 670px;
    padding: 80px 0 89px;
    margin-bottom: -1px;
}

.faq_left_img {
    width: 250px;
    top: 16%;
}

.faq_right_img {
    width: 250px;
    top: 0%;
}

.accordion-item:last-of-type {
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.accordion-item:first-of-type .accordion-button {
    background: transparent !important;
}

.accordion-item:first-of-type {
    border: 1px solid #90908D !important;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10) !important;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.07) !important;
}

.accordion-item {
    border: 1px solid #90908D !important;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10) !important;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.07) !important;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.accordion-button {
    padding: 12px 16px !important;
}

.accordion-body {
    padding: 12px 16px !important;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

.accordion-item:first-of-type .accordion-button {
    background: transparent !important;
    color: #FFF !important;
}

.accordion-button {
    background-color: transparent !important;
    color: #FFF !important;
}

.accordion-button:focus {
    border-color: transparent !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("/assets/images/svg/accordian_icon.svg");
}

.accordion-button::after {
    background-image: url("/assets/images/svg/accordian_icon.svg");
}

.my_20 {
    margin: 20px 0;
}

/* ---------FOOTER CSS START  --------- */
.faq_bg {
    background-image: url("/assets/images/png/faq_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_bg {
    background-image: url("/assets/images/png/faq_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.para_m {
    max-width: 499px;
    line-height: 160%;
}

.icon_parent {
    padding: 62px;
}

.bottom_line {
    opacity: 0.5;
    border-top: 1px solid #939391;
}

.py_12 {
    padding: 12px 0;

}

.pt_126 {
    padding-top: 126px;
}

/* ----------------------------- Media Query Only-----------------------------  */
@media (min-width: 1200px) and (max-width: 1599.98px) {
    .custom_container {
        max-width: 1140px !important;
        margin: auto;
    }

    .max_w_964 {
        max-width: 962px;
        margin: 0 auto;
    }
}

@media (min-width: 1600px) {
    .custom_container {
        max-width: 1320px;
        margin: auto;
    }
}

@media (max-width: 1598px) {}

@media (max-width: 1199.98px) {
    .common_goat_slide_img {
        max-width: 171px;
    }

    .faq_left_img {
        width: 157px;
    }

    .pt_126 {
        padding-top: 90px;
    }
}

@media (max-width: 991.98px) {
    .common_goat_slide_img {
        max-width: 154px;
    }

    .max_w_964 {
        max-width: 635px;
        margin: 0 auto;
    }

    .faq_left_img {
        top: 90%;
        z-index: 1;
    }

    .footer_bottom_right_grass {
        max-width: 200px;
    }

    .footer_bottom_left_grass {
        max-width: 200px;
    }

    .icon_parent {
        padding: 40px;
    }


    .faq_right_img {
        width: 150px;
    }

    .footer_logo {
        max-width: 200px;
    }

    .pt_126 {
        padding-top: 60px;
    }

    .faq_parent {
        padding: 60px 0 60px;
    }
}

@media (max-width: 576px) {
    .mt_104 {
        margin-top: 63px;
    }

    .mt_53 {
        margin-top: 30px;
    }

    .common_goat_slide_img {
        max-width: 124px;
    }

    .team_care_parent {
        max-width: 330px;
    }

    .pt_126 {
        padding-top: 48px;
    }

    .icon_parent {
        padding: 16px 0 48px 0;
    }

    .footer_logo {
        width: 150px;
    }

    .faq_parent {
        padding: 45px 0 45px;
    }

    .faq_left_img {
        width: 52px;
        top: 14%;
    }

    .faq_right_img {
        width: 107px;
        top: 0%;
    }

    #scroll {
        position: fixed;
        bottom: 8px;
        right: 18px;
    }
}

/* Hero CSS */
.hero_bg {
    background-image: url("../images/png/hero_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_goat {
    max-width: 550px;
    max-height: 524px;
}